form input {
  width: 200px;
}
button,
label:not(:nth-child(1)) {
  margin-top: 15px;
}

.buttonDisabled {
  cursor: not-allowed;
}
.buttonDisabled:hover {
  border: 1px solid transparent;
}
button {
  cursor: pointer;
  margin-bottom: 15px;
}
